@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background: url(img/bgs.png) no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.container {
    max-width: 500px;
    width: 50%;
    background-color: #f5f7f8;
    
    padding: 20px 30px;
    border-radius: 30px;
    height: 70vh;
}

.container .title {
    color: #3E065F;
    font-size: 30px;
    font-weight: bold;
    
    text-align: center;
}
.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;

}
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 12px 0;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: 80%
    
} 
.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 350px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #979595;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    text-align: center;
    background-color: rgb(221, 218, 218);

}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: rgb(177, 176, 176);
}


form .button {
    height: 45px;
    margin: 45px 0;
}
form .button button {
    height: 100%;
    width: 25%;
    bottom: 10px;
    outline: none;
    position: relative;
    left: 10px;
    color: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6 ,#9b59b6 );
}
form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6 ,#9b59b6 );
}
form .button1 {
    height: 45px;
    margin: 45px 0;
    padding-right: 10px;
}
form .button1 button {
    height: 100%;
    width: 25%;
    justify-content: space-between;
    position: relative;
    left: 330px;
    bottom: 100px;
    outline: none;
    color: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6 ,#9b59b6 );
}
